<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Bienvenue dans le logiciel de discussion
      </h4>

      <p>
        Nous avons tous besoin de communiquer !
      </p>

      <hr />

      <p>
        Commencez par créer ou joindre votre espace depuis la barre latérale
      </p>
    </div>
  </div>
</div>
